/************TAG SELECTORS*********/
body{background-color:#feffff;
  margin:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter;
  font-size: 1.3em;
}
h1{margin-top:0;
font-family: 'Sacramento', cursive;
color:#54BAB9;
font-size: 5.625rem;
margin:50px auto 0 auto;
line-height: 1;}

h2{font-family: 'Loved by the King', cursive;
color: #ADC2A9;
font-size: 2.5rem;
margin:0 0 20px 0;}

h3{font-family: 'Loved by the King', cursive;
color:#ADC2A9;
font-size:2rem;}

a{color:#ADC2A9;
padding:10px 20px 10px 20px;}
p{
  margin-bottom:40px;
}

hr {
  background-color: #FEFFFF;
  border-style: dotted none none;
  border-color: #E9DAC1;
  border-width: 5px;
  height:1px;
  width:10%;
  margin:20px auto 20px auto;}

/************CLASS SELECTORS*********/
.footer-hr {
  background-color: #EDF8F8;
  border-style: dotted none none;
  border-color: #E9DAC1;
  border-width: 3px;
  height:1px;
  width:80%}

.top-container{background-color:#EDF8F8;
  position:relative;
  padding-top:100px;}
.cloud2{position:absolute;
  bottom:450px;
  left:250px;}
.cloud1{position:absolute;
  top:50px;
  right:300px;}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align:left;
  line-height: 1.5;}
.profile{
  width: 50%;
  margin: 50px auto 50px auto;
  }
  .storytelling{
    width:20%;
    float:left;
    margin-right: 30px;
}
.art{
  width:20%;
  float: right;
  margin-left: 30px;
}
.sprout{
  width:25%;
  float:right;
  margin-left: 30px;
  margin-top: 75px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Loved by the King', cursive;
  color: #ffffff;
  font-size: 20px;
  background: #54BAB9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #71d1cf;
  text-decoration: none;
}
.contact-me{
  width:50%;
  margin:100px auto 50px 100px;
  text-align: left;
}


.bottom-container{
  margin-top: 50px;
  background-color:#EDF8F8;
  padding:50px 0 50px 0;
}
.footer-container{
  background-color:#EDF8F8;
  padding:50px 0 50px 0;
}
.footer-link{
  font-size:1rem;
  padding-top:50px;
  text-align: right;
}
.copyright{
  font-size:.7rem;
  color:#D3E4CD;
  padding-top:50px;
}
